<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <% if(locals.usuarioCheckIn && usuarioCheckIn.seleccionFarofita){%>
        <t3> <%- include('./partials/head.ejs',{titulo:"Hola, fanatico de "+ usuarioCheckIn.seleccionFarofita,stylesFile:"styles.css"}) %></t3>
    <% }else{ %>
        <%- include('./partials/head.ejs',{titulo:"Bienvenido a Casaka",stylesFile:"styles.css"}) %>
    <% }%>
<body>
    
    <!-- Header -->
    <%- include('./partials/header v2.ejs') %>


<main>
    

    <div class="banner">
        <img width=100% src="images/chelseabanner.JPG">
    </div>
    <div class="banners">
        <div class="filauno">
            <img class="novedades" src="images/spurs.JPG">
            <img class="novedades" src="images/unitedbaner.JPG">
        </div>
        <div class="filauno">
            <img class="novedades" src="images/mexicobanner.JPG">
            <img class="novedades" src="images/estadosunidosbanner.JPG">
        </div>
    </div>
<section class="pickedForYou">
    <h3 class="titulares">Picked for you</h3>
    <div class="articulos">
        <article>
            <div>
            <img width="200" src="images/camiseta1.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">JUVENTUS 21/22 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/camiseta2.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">INTER MILAN 21/22 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        
        <article>
            <a href="/product">
            <div>
            <img width="200" src="images/camiseta3.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">AC MILAN 21/22 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </a>
        </article>
        
        <article>
            <div>
            <img width="200" src="images/Camiseta4.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">MANCHESTER UNITED 21/22 SECOND JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
    </div>
</section>
<section class="mostSold">
    <h3 class="titulares">Most Sold</h3>
    <div class="articulos">
        <article>
            <div>
            <img width="200" src="images/camiseta5.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">ITALY EURO 20/21 HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/camiseta6.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">ARSENAL TRAINING JERSEY 21/22</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/camiseta7.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">ARSENAL 21/22 AUTHENTIC HOME JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
        <article>
            <div>
            <img width="200" src="images/Camiseta8.jpeg">
        </div>
        <div class="rating">
            <img width="70" src="images/rating-stars.png">
        </div>
            <div class="descripcion">
                <p class="equipo">MANCHESTER UNITED 21/22 THIRD JERSEY</p>
                <p class="precio">$89.99</p>
            </div>
        </article>
    </div>
</section>
<div class="row-bottom">

    <div class="title">
        <h2>Productos similares</h2>
    </div>

    <div class="carousel">

        <!--
        <div class="arrows">

            <a href="#" class="carousel-control-prev">
                <i class="fas fa-angle-left"></i>
            </a>
            <a href="#" class="carousel-control-next">
                <i class="fas fa-angle-right"></i>
            </a>
            
        </div>
        -->

        <!--Carrusel de productos similares-->
        <ul class="products-slider">
            <% for(let i=0; i<products.length; i++){
                //let regular_price = parseFloat(product.regularPrice.replace('$', ''));
                //let special_price = parseFloat(product.specialPrice.replace('$', ''));
                let regular_price = products[i].regular_price;
                let special_price = products[i].special_price;
                let discount = (1 - special_price/regular_price)*100;
                let price_discount = discount.toFixed(0);
                if(Number.isNaN(regular_price)){
                    regulat_price = 0;
                }
                if(Number.isNaN(special_price)){
                    special_price = 0;
                }
                price_discount = (price_discount>0)? price_discount : 0;

                let ars_format = Intl.NumberFormat('es-AR', {
                    style: 'currency',
                    currency: 'ARS'
                });
            %>

            <!--Item <% i %> del carousel-->
            <li id="item_0" class="slider-item">
                <div class="item_image">
                    <a href="/product/<%= products[i].id %>">
                        <img src="/images/<%= products[i].image_main %>">
                    </a>
                </div>
                <div class="item_description">
                    <h4><a href="/product/<%= products[i].id %>"><%= products[i].name %></a></h4>
                    <div class="price-discount">
                        <% if(regular_price >= 0){ %>
                        <span class="price-list"><%= ars_format.format(regular_price) %></span>
                        <% } %>
                        <% if (price_discount > 0){ %>
                        <span class="discount"><%= price_discount + '%' +' OFF'%></span>
                        <% } %>
                    </div>
                    <div class="price-box">
                        <% if(special_price > 0){ %>
                        <p><%= ars_format.format(special_price) %></p>
                        <% } %>
                    </div>
                    <div class="item_afip">
                        <p>Incluye impuesto PAIS y percepción AFIP</p>
                    </div>
                    <div class="fav-icon">
                        <i class="far fa-heart"></i>
                    </div>
                    <div class="clear20px"></div>
                    <div>
                        <span class="free-delivery"></span>
                    </div>
                </div>
            </li>
            <% } %>
        </ul>   <!--Carousel de productos similares-->
        <!--Next and Previous buttons-->
        <a class="prev">&#10094</a>
        <a class="next">&#10095</a>
    </div>
</div>  <!--Row bottom-->
</main>

<!-- Footer -->
<%- include('./partials/footer v2.ejs') %>




</body>
</html>

