<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('./partials/head.ejs',{titulo:"Signin",stylesFile:"signin.css"}) %>
<body>
    <!-- Header -->
    <%- include('./partials/header v2.ejs') %>
    
    <script type="text/javascript" src="js/indexSignin.js"></script>

<main>

    <div class='main-container center-layout'>
        <div class='layout-header'>
            <header class='grid'>
                <div class='grid-col'>
                    <!-- <img class='signin-logo' src='/images/Logo-horizontal-f-blanco.png'> -->
                    <svg width='120' height='70' viewbox='0 0 320 130'>
                        <defs id="SvgjsDefs6137"><linearGradient id="SvgjsLinearGradient6144"><stop id="SvgjsStop6145" stop-color="#2d388a" offset="0"></stop><stop id="SvgjsStop6146" stop-color="#00aeef" offset="1"></stop></linearGradient></defs>
                        <g id="SvgjsG6138" featurekey="symbolFeature-0" transform="matrix(1.6667211338464607,0,0,1.6667211338464607,-33.33604079723166,-16.131912346073523)" fill="url(#SvgjsLinearGradient6144)"><defs xmlns="http://www.w3.org/2000/svg"></defs><g xmlns="http://www.w3.org/2000/svg"><path class="fil0" d="M30.7609 45.8448c-0.947252,1.60159 -3.18073,0.740557 -6.13588,0.283467 -2.70238,-0.752368 -4.40555,-0.823235 -4.62405,-2.41774l10.7599 2.13427zm6.09572 44.0637l9.15834 0 0 -72.7506c1.43387,0.92481 3.06262,1.49293 4.26736,1.76458 1.06654,-0.218506 2.46026,-0.746463 3.74531,-1.54135l0 72.5273 9.15716 0 0 -71.638 1.90277 0.816148c1.48111,0.830321 2.56892,1.97836 3.33546,3.27522 0.901188,1.52245 1.36182,3.25396 1.50474,4.92287l0 0c0.250396,3.54097 -0.735833,7.17525 -1.20355,10.6973l-0.0129922 -0.204332 -1.92757 11.9399 1.02757 38.7972c0.0968512,2.19569 -2.00198,1.80238 -3.75357,1.79647l0 0.00708667 -28.0668 0 0 -0.101576c-5.04571,-0.0177167 -5.36225,0.398035 -5.16854,-2.20632l2.08112 -38.2928 -1.45867 -10.63c-0.113387,-1.56615 -0.390948,-3.1642 -0.672053,-4.7776 -0.440555,-2.53348 -0.887015,-5.10358 -0.708667,-7.61817l0 0c0.131103,-1.54253 0.623627,-2.92798 1.48466,-4.15279 0.862212,-1.22599 2.09529,-2.29372 3.70869,-3.19727l1.59923 -0.687407 0 71.2541zm-9.78079 -70.3529l13.0938 -6.72053c0.144096,1.60041 0.429925,2.88664 0.918905,3.72759l0.889377 -0.330711 -6.81501 2.92916c-2.88073,1.52245 -5.16854,4.34649 -5.30319,7.51423 -0.126379,2.93388 0.204332,4.75634 0.711029,7.66896 0.853944,4.90988 0.687407,4.86618 0.661423,9.65204 -3.59412,-0.990953 -7.21659,-1.82246 -10.9501,-2.44136l4.02995 -18.5222 2.7638 -3.47719zm30.4939 -8.04691c-2.8016,-1.36655 -11.4686,-1.52954 -14.673,-0.264569 -0.285829,1.77521 0.168899,2.97522 1.08662,4.12562l-1.68545 0.724021c-0.650793,-0.706305 -1.0382,-1.97482 -1.16103,-3.80436 1.58623,-3.5894 16.2946,-3.45711 17.9529,0.271656 -0.153545,1.52836 -0.512602,2.61616 -1.08072,3.26223l-1.47521 -0.634257c0.840952,-1.10906 1.35474,-2.18624 1.03583,-3.68034zm1.61458 4.81894c0.433468,-0.748825 0.706305,-1.85198 0.86103,-3.2138l11.4863 6.44178 4.11027 3.47719 3.86932 16.5934c0.102757,0.3189 0.19134,0.614178 0.26575,0.887015 -3.56932,0.923629 -7.0099,2.03978 -10.4127,3.30711 -0.113387,-0.328349 -0.225592,-0.693313 -0.344885,-1.09371l-0.22323 -3.58349c0.132285,-1.37836 0.376775,-2.78624 0.623627,-4.20594 0.748825,-4.30515 1.52482,-8.71306 -0.819691,-12.6792 -0.679139,-1.14804 -2.07639,-2.73073 -3.42759,-3.35672l-5.98824 -2.57364zm20.8147 26.4604c-0.309451,1.20592 -1.71379,1.57442 -4.53665,2.49215 -2.30317,0.748825 -3.64491,0.969693 -4.5213,0.649611l9.05795 -3.14176z" style="fill: url(#SvgjsLinearGradient6144);"></path></g></g>
                        <g id="SvgjsG6139" featurekey="nameFeature-0" transform="matrix(1.1823125778567156,0,0,1.1823125778567156,118.15559188242543,19.136443527778553)" fill="#e01414"><path d="M27.28 33.6 c-0.84 1.28 -1.44 2.12 -1.84 2.6 c-1.28 1.44 -4.8 4.64 -10.32 4.64 c-1 0 -3.32 -0.12 -5.76 -1.2 c-7.44 -3.36 -7.8 -11.56 -7.8 -13.8 c0 -1.72 0.2 -6.16 3.44 -10.08 c1.28 -1.6 4.48 -4.88 10.24 -4.88 c3.8 0 7.48 1.56 9.96 4.4 c1.04 1.2 1.68 2.44 1.96 2.92 l-5.56 2.76 c-0.4 -0.8 -0.68 -1.24 -0.92 -1.56 c-0.52 -0.76 -2.24 -2.72 -5.12 -2.72 c-0.8 0 -2.68 0.16 -4.28 1.68 c-1.16 1.08 -2.68 3.44 -2.68 7.32 c0 0.36 0 1.04 0.12 1.92 c0.48 3.88 2.16 5.64 3.72 6.52 c0.52 0.32 1.6 0.8 3.12 0.8 c3.96 0 5.48 -3.08 6.12 -4.16 z M57.176 40 l-7.52 0 l-1.4 -4.52 l-10.4 0 l-1.4 4.52 l-7.52 0 l10.48 -28.24 l7.36 0 z M46.656000000000006 30.4 l-3.68 -11.92 l-3.48 11.92 l7.16 0 z M82.512 17.28 l-15.4 17.16 l15.32 0 l0 5.56 l-24.04 0 l0 -5.32 l15.64 -17.44 l-14.32 0 l0 -5.48 l22.8 0 l0 5.52 z M112.28800000000001 40 l-7.52 0 l-1.4 -4.52 l-10.4 0 l-1.4 4.52 l-7.52 0 l10.48 -28.24 l7.36 0 z M101.768 30.4 l-3.68 -11.92 l-3.48 11.92 l7.16 0 z M142.584 40 l-7.96 0 l-7.52 -12.8 l-4.36 4.52 l0 8.28 l-6.72 0 l0 -28.24 l6.72 0 l0 11.52 l10.56 -11.52 l8.52 0 l-10 10.48 z M170.72 40 l-7.52 0 l-1.4 -4.52 l-10.4 0 l-1.4 4.52 l-7.52 0 l10.48 -28.24 l7.36 0 z M160.20000000000002 30.4 l-3.68 -11.92 l-3.48 11.92 l7.16 0 z"></path></g>
                        <g id="SvgjsG6140" featurekey="nameFeature-1" transform="matrix(0.6726215542077899,0,0,0.6726215542077899,120.02690483650983,69.4397338846553)" fill="#e01414"><path d="M26.64 11.760000000000002 l-9.8 28.24 l-7.2 0 l-9.68 -28.24 l7.52 0 l5.84 20.08 l5.8 -20.08 l7.52 0 z M36.456 16.52 l-6.12 0 l0 -4.76 l6.12 0 l0 4.76 z M36.456 40 l-6.12 0 l0 -20.88 l6.12 0 l0 20.88 z M60.032 33.24 c0 1.72 -0.64 2.96 -1 3.48 c-1.84 2.76 -5.68 3.84 -8.84 3.84 c-1.12 0 -4.6 -0.2 -7.64 -2.08 c-1.24 -0.76 -2.08 -1.6 -2.48 -1.96 l3.92 -3.52 c0.36 0.36 0.72 0.72 1.12 1 c1.36 1.08 3.24 1.88 4.96 1.88 c0.28 0 0.84 -0.04 1.52 -0.2 c0.92 -0.2 2.16 -0.72 2.16 -1.88 c-0.04 -1.44 -1.88 -1.6 -4.12 -1.96 c-4.36 -0.72 -6.36 -1.72 -7.44 -3.8 c-0.56 -1.12 -0.64 -2.12 -0.64 -2.6 c0 -0.56 0.12 -1.8 0.88 -3.12 c0.96 -1.72 3.32 -3.88 7.96 -3.88 c1.32 0 4.4 0.2 7.56 2 c0.6 0.36 1.16 0.72 1.72 1.12 l-3.8 3.52 c-0.36 -0.28 -0.72 -0.56 -1.12 -0.8 c-1.12 -0.68 -2.8 -1.28 -4.12 -1.28 c-0.88 0 -1.68 0.24 -1.96 0.36 c-0.76 0.36 -0.96 0.88 -0.96 1.24 c0 0.4 0.24 0.76 0.56 1 c0.6 0.4 2.12 0.6 2.8 0.76 l2.76 0.6 c3.32 0.72 6.2 2.4 6.2 6.28 z M75.528 23.4 l-4.08 0 l0 9.36 c0 0.84 -0.04 1.32 0.16 1.68 c0.36 0.68 1.32 0.68 1.44 0.68 c0.72 0 1.44 -0.04 2.16 -0.04 l0 4.76 c-0.4 0.08 -1.84 0.32 -3.24 0.32 c-0.44 0 -0.88 0 -1.28 -0.04 c-0.56 -0.04 -2.4 0 -3.8 -1.28 c-1.6 -1.4 -1.52 -3.52 -1.52 -5.44 l0 -10.04 l-3.04 0 l0 -3.76 l3.04 0 l0 -6.52 l6.08 0 l0 6.56 l4.08 0 l0 3.76 z M99.424 30.84 l-14.92 0 c0 0.2 -0.04 0.68 0.08 1.24 c0.48 2.44 2.2 3.96 4.68 3.96 c0.36 0 1.16 -0.04 2 -0.36 c2.08 -0.72 3 -2.84 3.28 -3.36 l4.64 2.4 c-0.84 1.24 -1.28 1.8 -1.76 2.36 c-3.08 3.4 -7.08 3.68 -8.64 3.68 c-0.64 0 -2.12 -0.04 -3.76 -0.56 c-4.64 -1.44 -6.8 -5.52 -6.8 -10.24 c0 -1.28 0.08 -5.16 2.68 -8.16 c1.28 -1.44 3.48 -3.32 8.04 -3.32 c1.4 0 5.56 0.16 8.16 3.8 c2.36 3.24 2.28 7.56 2.32 8.56 z M93.06400000000001 27 c-0.08 -0.68 -0.2 -2.8 -2.28 -3.72 c-0.84 -0.4 -1.52 -0.4 -1.88 -0.4 c-2.44 0 -3.56 1.8 -3.88 2.52 c-0.16 0.36 -0.32 0.8 -0.48 1.6 l8.52 0 z M127.37599999999999 23.4 l-4.08 0 l0 9.36 c0 0.84 -0.04 1.32 0.16 1.68 c0.36 0.68 1.32 0.68 1.44 0.68 c0.72 0 1.44 -0.04 2.16 -0.04 l0 4.76 c-0.4 0.08 -1.84 0.32 -3.24 0.32 c-0.44 0 -0.88 0 -1.28 -0.04 c-0.56 -0.04 -2.4 0 -3.8 -1.28 c-1.6 -1.4 -1.52 -3.52 -1.52 -5.44 l0 -10.04 l-3.04 0 l0 -3.76 l3.04 0 l0 -6.52 l6.08 0 l0 6.56 l4.08 0 l0 3.76 z M150.152 40 l-6.16 0 l0 -1.96 c-0.44 0.48 -0.68 0.72 -0.92 0.92 c-0.76 0.6 -2.6 1.64 -5.16 1.64 c-0.48 0 -2.8 0 -4.44 -1.28 c-2.32 -1.84 -2.12 -5.2 -2.12 -7.76 l0 -12.44 l6.2 0 l0 13 c0 1.32 0.04 2.32 1.16 3 c0.36 0.2 0.88 0.48 1.8 0.48 c1.96 0 3 -1.12 3.28 -1.88 c0.2 -0.52 0.24 -1.04 0.24 -1.6 l0 -13 l6.12 0 l0 20.88 z M189.424 29.52 c-0.04 3.56 -1.16 5.92 -1.92 7.12 c-1.16 1.76 -2.6 2.68 -3.28 3 s-1.92 0.76 -3.88 0.76 c-2.2 0 -3.32 -0.64 -5.12 -1.76 l0 8.6 l-6.24 0 l0 -28.12 l5.48 0 l0.04 2.04 c0.32 -0.4 0.44 -0.6 0.88 -0.92 c0.76 -0.64 2.4 -1.6 4.96 -1.6 c1.2 0 4 0.2 6.28 2.64 c2.12 2.24 2.8 5.32 2.8 8.24 z M183.50400000000002 29.439999999999998 c0 -0.6 0.08 -3.32 -1.44 -5.12 c-0.48 -0.56 -1.12 -1 -1.84 -1.2 c-0.4 -0.12 -0.72 -0.12 -0.88 -0.12 c-2.28 0 -4.4 2.08 -4.4 6.6 c0 0.44 -0.08 2.96 1.08 4.68 c0.32 0.44 0.72 0.84 1.2 1.12 c0.28 0.2 1 0.56 1.96 0.56 c2.12 0 2.96 -1.52 3.32 -2.16 c0.48 -0.88 1 -2.12 1 -4.36 z M212.52 40 l-6.04 0 l0 -1.88 c-0.44 0.32 -0.84 0.6 -1.28 0.88 c-0.76 0.52 -2.52 1.56 -5.12 1.56 c-3.76 0 -5.48 -2.04 -6.16 -3.44 c-0.44 -0.88 -0.68 -1.92 -0.68 -2.92 c0 -3.76 3.36 -5.56 4.28 -5.96 c1.56 -0.68 4.4 -1.24 8.36 -1.96 l0 -1.16 c0 -0.72 -0.12 -2.52 -2.36 -2.52 c-1.8 0 -2.64 0.84 -2.96 1.52 c-0.08 0.16 -0.2 0.48 -0.28 0.92 l-6.16 0 c0.08 -0.84 0.12 -2.64 1.68 -4.2 c1.72 -1.68 4 -2 4.72 -2.12 c1.2 -0.16 2.2 -0.16 2.68 -0.16 c2.92 0 6.88 0.68 8.28 3.68 c0.24 0.56 0.44 1.12 0.44 2.32 l0 12.2 c0 1.8 0.08 2.48 0.6 3.24 z M205.88000000000002 30 l-3.96 1.32 c-0.24 0.08 -0.48 0.16 -0.72 0.28 c-1.52 0.64 -1.92 1.52 -1.92 2.32 c0 0.12 0.04 0.56 0.24 0.96 c0.24 0.4 0.84 1.16 2.12 1.16 c1.12 0 2.08 -0.64 2.36 -0.84 c1.8 -1.28 1.88 -3.24 1.88 -5.2 z M235.57600000000002 33.24 c0 1.72 -0.64 2.96 -1 3.48 c-1.84 2.76 -5.68 3.84 -8.84 3.84 c-1.12 0 -4.6 -0.2 -7.64 -2.08 c-1.24 -0.76 -2.08 -1.6 -2.48 -1.96 l3.92 -3.52 c0.36 0.36 0.72 0.72 1.12 1 c1.36 1.08 3.24 1.88 4.96 1.88 c0.28 0 0.84 -0.04 1.52 -0.2 c0.92 -0.2 2.16 -0.72 2.16 -1.88 c-0.04 -1.44 -1.88 -1.6 -4.12 -1.96 c-4.36 -0.72 -6.36 -1.72 -7.44 -3.8 c-0.56 -1.12 -0.64 -2.12 -0.64 -2.6 c0 -0.56 0.12 -1.8 0.88 -3.12 c0.96 -1.72 3.32 -3.88 7.96 -3.88 c1.32 0 4.4 0.2 7.56 2 c0.6 0.36 1.16 0.72 1.72 1.12 l-3.8 3.52 c-0.36 -0.28 -0.72 -0.56 -1.12 -0.8 c-1.12 -0.68 -2.8 -1.28 -4.12 -1.28 c-0.88 0 -1.68 0.24 -1.96 0.36 c-0.76 0.36 -0.96 0.88 -0.96 1.24 c0 0.4 0.24 0.76 0.56 1 c0.6 0.4 2.12 0.6 2.8 0.76 l2.76 0.6 c3.32 0.72 6.2 2.4 6.2 6.28 z M246.312 16.52 l-6.12 0 l0 -4.76 l6.12 0 l0 4.76 z M246.312 40 l-6.12 0 l0 -20.88 l6.12 0 l0 20.88 z M270.168 11.239999999999998 l-6.16 5.32 l-4.08 0 l2.92 -5.32 l7.32 0 z M273.728 29.560000000000002 c0 4.72 -2.24 7.44 -3.68 8.64 c-1.2 1 -3.64 2.44 -7.56 2.44 c-1.08 0 -5.32 -0.2 -8.2 -3 c-1.24 -1.2 -3 -3.76 -3 -8.12 c0 -1.2 0.08 -4.6 2.44 -7.44 c1.44 -1.72 4.32 -3.88 9.6 -3.56 c2.44 0.12 4.6 0.68 6.56 2.24 c2.6 2.12 3.84 5.44 3.84 8.8 z M267.488 29.759999999999998 c0 -3.16 -1 -4.76 -2.2 -5.6 c-0.56 -0.4 -1.4 -0.8 -3.04 -0.8 c-0.28 0 -1.44 0.08 -2.32 0.6 c-1.12 0.64 -2.44 2.44 -2.44 5.52 c0 2.04 0.68 3.56 1.08 4.2 c0.48 0.72 1.68 2.04 4 2.04 c3.4 0 4.92 -2.84 4.92 -5.96 z M297.304 40 l-6.16 0 l0 -11.8 c0 -1.4 -0.04 -2.44 -0.24 -3 c-0.28 -0.72 -1.04 -1.68 -2.8 -1.68 c-0.28 0 -1.32 0 -2.08 0.64 c-1.04 0.8 -1.16 2.08 -1.16 4.56 l0 11.28 l-6.16 0 l0 -20.84 l6.24 0 l0 1.8 c0.2 -0.2 0.44 -0.52 0.96 -0.92 c0.76 -0.56 2.44 -1.44 4.92 -1.44 c0.48 0 2.24 0.04 3.72 0.84 c2.56 1.36 2.76 3.72 2.76 6.28 l0 14.28 z"></path></g>

                    </svg>
                </div>
            </header>
            <h6>
                Inicie sesión con su cuenta <strong>CAZAKA</strong>
            </h6>
        </div>
        <div class='row justify-content-center'>
            <div class='col-12'>
                <div class='panel login-panel'>
                    <div class='panel-content'>
                        <!-- Cabecera -->
                        <p>Se está conectando a:</p>
                        <h5 class='company-name'>Tienda CAZAKA</h5>
                        <div class='signin-header'>
                            <p class='signin-instruction'>Ingrese sus credenciales</p>
                            <span class='signin-errors <%= locals.errorMessage? 'invalid' : '' %>'><%= locals.errorMessage %></span>
                        </div>
                        <!-- Formulario -->
                        <form class='form-container' action="/signin" method="post">
                            <!-- Email -->
                            <div class='error email'></div>
                            <div class='form-field'>
                                <!-- <label for='email' class='form-label email' id='username-label' name='email-label'>Correo electrónico</label> -->
                                <div class='input-label email'>
                                    <input id='username' name='email' type='text' placeholder="Direccion de correo electrónico">
                                    <label class='placeholder'>Direccion de correo electrónico</label>
                                </div>
                            </div>
                            <!-- Password -->
                            <div class='error password'></div>
                            <div class='form-field'>
                                <!-- <label for='psw' class='form-label password' id='password-label' name='password-label'>Contraseña</label> -->
                                <div class='input-label password'>
                                    <input type="password" id='password' name='psw' type='text' placeholder="Contraseña">
                                    <label class='placeholder'>Contraseña</label>
                                </div>
                            </div>
                            <!-- Boton de submit -->
                            <div class='submit-btn'>
                                <button type='submit' class='submit-button'>
                                    <span class='submit-text'>
                                        INICIAR SESION
                                    </span>
                                </button>
                            </div>
                            <!-- Keep me logged in -->
                            <div class='remember-me'>
                                <label class='remember-me-label'>
                                    <span class='checkbox-span'>
                                        <input type='checkbox' id='remember-me' name='keepMeLoggedIn' checked>
                                        <svg class='check-svg checkbox-icon' viewbox="0 0 24 24" fill='currentColor' xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                                <path class="rounded lined" d="M9.7324219,16.5336914c-0.3818359,0-0.7626953-0.1425781-1.0517578-0.4277344 l-3.3730469-3.3183594c-0.1972656-0.1938477-0.1992188-0.5102539-0.0058594-0.7070312 c0.1933594-0.1982422,0.5097656-0.1982422,0.7070312-0.0058594l3.3730469,3.3183594 c0.1933594,0.1904297,0.5078125,0.1894531,0.7011719,0l7.9082031-7.7802734 c0.1972656-0.1923828,0.5136719-0.1923828,0.7070312,0.0058594c0.1933594,0.1967773,0.1914062,0.5131836-0.0058594,0.7070312 l-7.9082031,7.7802734C10.4941406,16.3911133,10.1132812,16.5336914,9.7324219,16.5336914z"></path>
                                                <path class="rounded filled" d="M9.7314453,17.0332031c-0.5078125,0-1.015625-0.1904297-1.4023438-0.5703125 l-3.3720703-3.3193359c-0.3935547-0.3867188-0.3994141-1.0200195-0.0117188-1.4135742 c0.3857422-0.3945312,1.0205078-0.3989258,1.4140625-0.0117188l3.3730469,3.3188477l7.9082031-7.7807617 c0.3925781-0.3876953,1.0273438-0.3823242,1.4140625,0.0117188c0.3876953,0.3935547,0.3818359,1.0268555-0.0117188,1.4140625 l-7.9082031,7.7807617C10.7480469,16.8427734,10.2392578,17.0332031,9.7314453,17.0332031z"></path>
                                                <path class="sharp lined" d="M9.7324219,17.140625L4.9511719 12.4375 5.6523438 11.7246094 9.7324219 15.7382812 18.3476562 7.2626953 19.0488281 7.9755859 z"></path>
                                                <path class="sharp filled" d="M9.7324219,17.8417969L4.2441406 12.4433594 5.6464844 11.0175781 9.7324219 15.0371094 18.3535156 6.5556641 19.7558594 7.9814453 z"></path>
                                            </g>
                                        </svg>
                                    </span>
                                    <span class='checkbox-span-text'>Recordarme</span>
                                </label>
                            </div>
                        </form>
                        <!-- Lost credentials -->
                        <div class='flex forgot-credential'>
                            <a class='link' id='forgot-credential'>
                                ¿Olvidó su nombre de usuario o contraseña?
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Footer - Link a página de registro -->
                <div class='flex justify-content-center signup-footer'>
                    <div class='signup-option'>
                        ¿No tiene una cuenta?
                        <a class='link' href='/signup'>Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<!-- Footer -->
<%- include('./partials/footer v2.ejs') %>

</body>
</html>
