<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs',{titulo:"Signup",stylesFile:"styles2.css"}) %>
<body>
    <!-- Header -->
    <%- include('./partials/header v2.ejs') %>
    
    
    <!-- Signin -->

<main>



<form action="/signup" enctype="multipart/form-data" style="border:1px solid #ccc" method="POST">
    <div class="container">
      <h1>Crear usuario</h1>


      <% if(locals.errores?.length){%>
        <% errores.forEach(error =>{ %>
        <t3> <%= error.msg %></t3>
        <% }) %>
      <% } %>

      <br>

      <p>Por favor, completar para crear una cuenta:</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Ingresar Email" name="email" value="<%= locals.old && old.email? old.email:'' %>">
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Ingrese Password" name="psw">
  
      <label for="pswrepeat"><b>Repita el Password</b></label>
      <input type="password" placeholder="Repita Password" name="pswrepeat">
  
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label> -->
      
      <br>
      
      <h3>Agruegue datos adicionales:</h3>
         <br>
   
         <label for="foto"><b>Foto </b></label>
         <input type="file" placeholder="Subir foto" name="foto">

         <p> </p>
        
         <label for="direccion"><b>Direccion</b></label>
          <input type="text" placeholder="Ingresar direccion" name="direccion" value="<%= locals.old && old.direccion? old.direccion:''%>">
    
          <label for="pais"><b>Pais</b></label>
          <input type="text" placeholder="Ingresar pais" name="pais" value="<%= locals.old && old.pais? old.pais:''%>">
  
          <label for="seleccion"><b>Selección favorita</b></label>
          <input type="text" placeholder="Ingresar equipo" name="seleccion" value="<%= locals.old && old.seleccion? old.seleccion:''%>">
    
          <label for="equipo"><b>Equipo local favorito</b></label>
          <input type="text" placeholder="Ingresar equipo" name="equipo" value="<%= locals.old && old.equipo? old.equipo:''%>">
    
          <label for="jugador"><b>Jugador favorito</b></label>
          <input type="text" placeholder="Ingresar jugador favorito" name="jugador" value="<%= locals.old && old.jugador? old.jugador:''%>">
    
        <label>
        <input type="checkbox" checked="<%= locals.old && old.mayorde13 === 'checked'? 'checked':''%>" name="mayorde13" style="margin-bottom:15px"> Soy mayor de 13 años
        </label>

  
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="submit" class="signupbtn">Crear cuenta</button>
      </div>
    </div>
  </form>


</main>

    <!-- Footer -->
    <%- include('./partials/footer v2.ejs') %>

</body>

</html>